*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dddddd;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:antiquewhite;
    line-height: 1.5;
    max-height: 100vh;
    
    
    
    
    
}
/* z index here to get product page above images*/

header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: #1a1a1a ;
    opacity: 80%;
    
    padding:1.5rem;
    border-radius: 50px;
    padding-left: 5rem;
    margin: 2rem 10rem 2rem 10rem;
    position: relative;
    z-index: 2;
   
    

}


nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    
    
    
    
}
.icons{
    justify-content: space-between;
    color: antiquewhite;
    filter:invert(80%);
    position: relative;
    
    
    
    
}
.icons  span{
  color: green;
  font-size: large;
}


nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: antiquewhite;
    margin-right: 10px;
    background-repeat: no-repeat;
    font-size: 2rem;
    display: inline-block;
    position: relative;
    color:antiquewhite;
    
    
    
    
    
   
}
nav a::after {
    content: "";
    width:100%;
    position: absolute;
    transform: scaleX(0);
    height:3px;
    bottom: 0;
    left: 0;
    background-color: antiquewhite;
    transform-origin: bottom right;
    transition: 0.5s ease-out;
    border-radius: 25px;
 
   
}
nav a:hover::after{
    transform: scaleX(1);
    transform-origin:bottom left ;
    
}
.logo img{
    color: antiquewhite;
    filter:invert(80%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: antiquewhite;
    cursor: pointer;
    padding-left: 1rem;
    
}
#magnifyingGlass{
    padding: 0 1rem 0;
    cursor: pointer;
}
#shoppingCart{
    padding: 0 1rem 0 0;
    cursor: pointer;

}


#appleLogo{
    height:3rem;
    align-items: left;
   

}


img{
    height: 1.5rem;
    color:  antiquewhite;
}

.boxes{
  display: grid;
  grid-auto-flow: column;
  grid-template-areas: "A B"
  "C D "
  ;
  height: 600px;
  max-width: 600px;
  

  
  
  
  
  
  
  
  
 

  
  
  
  
}
.photoAd{
  display: flex;
  align-items: right;
 justify-content: right;
 width: 100%;
 position: relative;
 z-index: -1;
 
 
 
}
.grid{
  position: relative;
  
}
.photoAd img{
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-right: 4rem;
  
  
  z-index: -1;
  
 
  
 
  
  height:600px;
  width:600px;
  
  
  
  
  
}
.wrap{
  
  background: linear-gradient(#22002E, #d755d3, #dea5e3);
  
  border-radius: 77.57px;
  margin:0 9rem 0 ;
  max-width: 100%;
  
  position: relative;
  z-index: 1;
  
  
  
  

}



.grid h1{
  font-size: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  border-radius: 77.57px;
  position: relative;
  
  
 
  
  
 
  
  
  
}
.box:hover{
  box-shadow: -5px 0 8px 0  rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
  z-index: 1;
  position: relative;
}
#box1{
  
  
  grid-area: A;
  


}
#box2{
  
  
  
 
  
  grid-area: B;
  
  

}
#box3{
  
  
  
  
  
  grid-area: C;
  
}
#box4{
  
  
  
  
  
  grid-area: D;
  
}
#box1 img{
  height: 150px;
  width: 120px;
  display: flex;
  margin: auto;
  
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
 
  
}
#box2 img{
  height: 150px;
  width: 120px;
  display: flex;
  margin: auto;
  
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}
#box3 img{
  height: 150px;
  width: 120px;
  display: flex;
  margin: auto;
  
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
 
  
  
}
#box4 img{
  height: 150px;
  width: 120px;
  display: flex;
  margin: auto;
  
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}
#box1 h1{
  justify-content: center;
  display: flex;
  align-items: center;
  color:#fff;
  font-size: 24px;
  margin-bottom: 1rem;
}

#box2 h1{
  justify-content: center;
  display: flex;
  align-items: center;
  color:#fff;
  font-size: 24px;
  margin-bottom: 1rem;
}
#box3 h1{
  justify-content: center;
  display: flex;
  align-items: center;
  color:#fff;
  font-size: 24px;
  margin-bottom: 1rem;
  
}
#box4 h1{
  justify-content: center;
  display: flex;
  align-items: center;
  color:#fff;
  font-size: 24px;
  margin-bottom: 1rem;
  
}


footer{  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: #1a1a1a ;
  opacity: 80%;
  padding:1.5rem;
  border-radius: 50px;
  padding-left: 5rem;
  margin: 2rem 9rem 2rem 9rem;


}
footer ul a{
  font-size: 14px;
}

#box1  #iPhone14 {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: auto;
  align-items: center;
  justify-content: center;
  filter:invert(80%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: antiquewhite;
    cursor: pointer;

}
#box2 .info img {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: auto;
  align-items: center;
  justify-content: center;
  filter:invert(80%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: antiquewhite;
    cursor: pointer;

}
#box3 .info img {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: auto;
  align-items: center;
  justify-content: center;
  filter:invert(80%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: antiquewhite;
    cursor: pointer;

}
#box4 .info img {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: auto;
  align-items: center;
  justify-content: center;
  filter:invert(80%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: antiquewhite;
    cursor: pointer;

}
.info p{
  display: inline;
 
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  
}

.box .info{
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  

 
}




 








  @media screen and (min-width: 768px) and (max-width:1028px) {
    
   
    header {
        padding: 10px 0 10px 0;
        justify-content: center;
        text-align: center;
      }
      
      header nav {
        justify-content: center;
      }
      .wrap{
        max-width: auto;
      }
      footer{
        padding: 10px 0 10px 0;
        justify-content: center;
        text-align: center;
       

      }
      .photoAd img{
        display: none;
      }
    
  
  
    
  }
  @media screen and (max-width: 767px) {
    
    header {
        padding: 10px 0 10px 0;
        justify-content: center;
        text-align: center;
        margin: 2rem 2rem 2rem 2rem;
      }
      header nav {
        justify-content: center;
      }
      nav a{
        font-size: 15px;
      }
      footer{
        padding: 10px 0 10px 0;
        justify-content: center;
        text-align: center;
        margin: 2rem 2rem 2rem 2rem;

      }.boxes{
        height: 400px;
        width: 400px;
        margin-bottom: 100%;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        margin:auto;
       
        
        
      }
      .box{
        margin:1rem;
      }
     
      
      .wrap{
        height: 140%;
      width: 100%;
      margin: auto;
      
      }
      
       
      #box1 h1{
        margin-top: 1rem;
      }
      #box2 h1{
        margin-top: 1rem;
      }
      #box3 h1{
        margin-top: 1rem;
      }
      .photoAd img{
        display: none;
        z-index: -1;
      }
    
     
    
  }

  @media screen and (max-width: 360px) {
    
    header {
        padding: 10px 0 10px 0;
        justify-content: center;
        text-align: center;
      }
      header nav {
        justify-content: center;
        
      }
      nav a{
        font-size: 24px;
      }
      footer{
        padding: 10px 0 10px 0;
        justify-content: center;
        text-align: center;

      }
  
  
    
  
  
}
input {
  display: block;
  position: relative;
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  touch-action: none;
  z-index: 3;
  
}
.dropdown{
  z-index: 2;
}
.dropdown h4{
  color:black;
}
.dropdown span{
  color: green;
}

.dropdown {
  background-color: #fff;
  color:#fff ;
  display: none;
  position: absolute;
  opacity: none;
  
  top: calc(100% + 10px);
  flex-direction: column;
  border: 1px solid black;
  padding: 60px;
  gap: 5px;
  right: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
justify-content: flex-start;
z-index:1;

}
.dropdown a{
  color: #fff;
}

input:checked ~ .dropdown {
  display: flex;
  visibility: visible;
  position: absolute;
  
  
  display: block;
  z-index: 3;
 
}
.dropdown textarea{
  border: none;
  
  text-decoration: none;
 
}

.dropdown a {
  color: #000;
  visibility: visible;
  position: relative;
  z-index: 3;
  text-decoration: none;
   

}