*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dddddd;
    font-family: 'Courier New', Courier, monospace;
    color:antiquewhite;
    line-height: 1.5;
    height: 100vh;
    
    
    
    
}


header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: #1a1a1a ;
    padding:2rem;
    border-radius: 50px;
    padding-left: 5rem;

}


nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    
    
    
}
.icons{
    justify-content: space-between;
    color: antiquewhite;
    filter:invert(80%);
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: antiquewhite;
    margin-right: 10px;
    background-repeat: no-repeat;
    font-size: 2rem;
    display: inline-block;
    position: relative;
    color:antiquewhite;
    
    
    
    
   
}
nav a::after {
    content: "";
    width:100%;
    position: absolute;
    transform: scaleX(0);
    height:3px;
    bottom: 0;
    left: 0;
    background-color: antiquewhite;
    transform-origin: bottom right;
    transition: 0.25s ease-out;
    border-radius: 25px;
 
   
}
nav a:hover::after{
    transform: scaleX(1);
    transform-origin:bottom left ;
    
}
.logo img{
    color: antiquewhite;
    filter:invert(80%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: antiquewhite;
    
}
#magnifyingGlass{
    padding: 0 1rem 0;
}
#shoppingCart{
    padding: 0 1rem 0 0;

}





#appleLogo{
    height:3rem;
    align-items: left;
   

}


img{
    height: 1.5rem;
    color:  antiquewhite;
}





  @media screen and (min-width: 768px) and (max-width:1023px) {
    
   
    header {
        padding: 10px 0 10px 0;
        justify-content: center;
        text-align: center;
      }
      header nav {
        justify-content: center;
      }
  
  
    
  }
  @media screen and (max-width: 767px) {
    
    header {
        padding: 10px 0 10px 0;
        justify-content: center;
        text-align: center;
      }
      header nav {
        justify-content: center;
      }
      nav a{
        font-size: 25px;
      }
  
  
    
  }

  @media screen and (max-width: 360px) {
    
    header {
        padding: 10px 0 10px 0;
        justify-content: center;
        text-align: center;
      }
      header nav {
        justify-content: center;
        
      }
      nav a{
        font-size: 24px;
      }
  
  
    
  
  
}